<div class="person card">
	<img class="card-img-top before" src="<%= person.img_blob %>" />
	<img class="card-img-top after" src="<%= person.man_img_blob %>" />
	<div class="container card-body">
		<h5 class="card-title"><%= person.name %></h5>
		<p class="card-text">Last Seen: <%= person.last_seen %> years ago.</p>
		<p class="card-text">Age: <%= person.age %></p>
	</div>
</div>