<div class="person">
	<h1><%= person.name %></h1>
	<img src="<%= person.img_blob %>" />
	<img src="<%= person.man_img_blob %>" />
	<p>Last Seen: <%= person.last_seen %> years ago.</p>
	<p>Age: <%= person.age %></p>
</div>